@{
    Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models

<h2>Engineer</h2>
<hr>
<h3>Assign an engineer to service this machine: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm("AddEngineer", "Machines"))
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Assign Engineer" />
}